/* theme - light */
$light-colors-grey-25: #F3F3F3FF;
$light-colors-grey-50: #E5E5E6FF;
$light-colors-grey-100: #CCCCCDFF;
$light-colors-grey-200: #B2B2B5FF;
$light-colors-grey-300: #99999CFF;
$light-colors-grey-400: #8C8C90FF;
$light-colors-grey-500: #7F7F83FF;
$light-colors-grey-600: #707072FF;
$light-colors-grey-700: #525255FF;
$light-colors-grey-800: #3E3E42FF;
$light-colors-grey-900: #29292BFF;
$light-colors-grey-950: #161617FF;
$light-colors-red-25: #FFEFF0FF;
$light-colors-red-50: #FFD5D7FF;
$light-colors-red-100: #FFAAAEFF;
$light-colors-red-200: #FF868CFF;
$light-colors-red-300: #F96269FF;
$light-colors-red-400: #F74B53FF;
$light-colors-red-500: #F33942FF;
$light-colors-red-600: #F02B35FF;
$light-colors-red-700: #DA1D26FF;
$light-colors-red-800: #CD0F18FF;
$light-colors-red-900: #9B0A11FF;
$light-colors-red-950: #620005FF;
$light-colors-yellow-25: #FFF8E3FF;
$light-colors-yellow-50: #FFF0BFFF;
$light-colors-yellow-100: #FFE284FF;
$light-colors-yellow-200: #FFD154FF;
$light-colors-yellow-300: #FFC227FF;
$light-colors-yellow-400: #FFB41FFF;
$light-colors-yellow-500: #FFA201FF;
$light-colors-yellow-600: #EB8E02FF;
$light-colors-yellow-700: #D17C1BFF;
$light-colors-yellow-800: #A86211FF;
$light-colors-yellow-900: #82490DFF;
$light-colors-yellow-950: #65370AFF;
$light-colors-blue-25: #E8F4FFFF;
$light-colors-blue-50: #CCE4FFFF;
$light-colors-blue-100: #9CC8FFFF;
$light-colors-blue-200: #6EADFFFF;
$light-colors-blue-300: #4A98FFFF;
$light-colors-blue-400: #2483FFFF;
$light-colors-blue-500: #006EFFFF;
$light-colors-blue-600: #005BEDFF;
$light-colors-blue-700: #0646CEFF;
$light-colors-blue-800: #103AAEFF;
$light-colors-blue-900: #122B8AFF;
$light-colors-blue-950: #132168FF;
$light-colors-green-25: #EAF9ECFF;
$light-colors-green-50: #C3EDD0FF;
$light-colors-green-100: #A9EABBFF;
$light-colors-green-200: #82D8A3FF;
$light-colors-green-300: #5CD18EFF;
$light-colors-green-400: #28BB7DFF;
$light-colors-green-500: #00AD71FF;
$light-colors-green-600: #00986EFF;
$light-colors-green-700: #008964FF;
$light-colors-green-800: #006D5AFF;
$light-colors-green-900: #005C50FF;
$light-colors-green-950: #033A32FF;
$light-colors-pink-25: #FFF0F3FF;
$light-colors-pink-50: #FFDEE7FF;
$light-colors-pink-100: #FFBACAFF;
$light-colors-pink-200: #FF96B4FF;
$light-colors-pink-300: #FC779FFF;
$light-colors-pink-400: #FF6193FF;
$light-colors-pink-500: #FF4A7DFF;
$light-colors-pink-600: #F23369FF;
$light-colors-pink-700: #DE1B55FF;
$light-colors-pink-800: #B20B40FF;
$light-colors-pink-900: #920937FF;
$light-colors-pink-950: #6B0628FF;
$light-static-black: #000000FF;
$light-static-white: #FFFFFFFF;
$light-static-null: #FF00CDFF;
$light-static-primary: $light-colors-blue-500;
$light-static-secondary: $light-colors-blue-400;
$light-fill-background-primary: $light-static-white;
$light-fill-surface-primary: $light-fill-background-primary;
$light-fill-surface-secondary: $light-fill-background-primary;
$light-refine-primary: #16181AFF;
$light-refine-secondary: #4E5052FF;
$light-refine-tertiary: #727476FF;
$light-refine-quaternary: #A0A2A4FF;
$light-refine-quinary: #D0D1D2FF;
$light-refine-senary: #F3F5F7FF;
$light-refine-septenary: #F9FAFBFF;
$light-refine-accent: $light-static-primary;
$light-label-primary: $light-colors-grey-900;
$light-label-secondary: #171717BF;
$light-label-tertiary: #17171799;
$light-label-quaternary: #17171766;
$light-label-quinary: #17171733;
$light-label-accent: $light-static-primary;
$light-fill-panel-primary: $light-fill-surface-primary;
$light-fill-panel-secondary: $light-refine-septenary;
$light-fill-segment: $light-static-white;
$light-fill-background-secondary: $light-refine-senary;
$light-line-accent: $light-static-primary;
$light-line-primary: #C9CBCDFF;
$light-line-secondary: #E4E5E6FF;
$light-line-tertiary: #F1F1F2FF;
$light-dimmed-primary: #00000085;
$light-dimmed-secondary: #00000052;
$light-dimmed-tertiary: #0000001F;
$light-interaction-surface: #4B5258FF;
$light-status-positive: $light-static-primary;
$light-status-negative: $light-colors-red-500;
$light-interaction-disabled: #383A3A1A;
$light-status-caution: $light-colors-yellow-500;
$light-elevation-10: #00000005;
$light-elevation-20: #0000000A;
$light-elevation-30: #0000000F;
$light-elevation-40: #00000014;
$light-inverse-white: $light-static-white;
$light-inverse-black: $light-static-black;
$light-interaction-blue: #6A829AFF;

/* theme - dark */
$dark-colors-grey-25: #161616FF;
$dark-colors-grey-50: #212122FF;
$dark-colors-grey-100: #2D2D2EFF;
$dark-colors-grey-200: #4A4A4DFF;
$dark-colors-grey-300: #59595CFF;
$dark-colors-grey-400: #757579FF;
$dark-colors-grey-500: #87878BFF;
$dark-colors-grey-600: #8B8B90FF;
$dark-colors-grey-700: #B2B2B2FF;
$dark-colors-grey-800: #CCCCCCFF;
$dark-colors-grey-900: #E5E5E5FF;
$dark-colors-grey-950: #F2F2F2FF;
$dark-colors-red-25: #56080DFF;
$dark-colors-red-50: #7C181EFF;
$dark-colors-red-100: #AB252CFF;
$dark-colors-red-200: #C6252EFF;
$dark-colors-red-300: #D72E37FF;
$dark-colors-red-400: #E93841FF;
$dark-colors-red-500: #F74B53FF;
$dark-colors-red-600: #F96269FF;
$dark-colors-red-700: #FA747BFF;
$dark-colors-red-800: #FA9196FF;
$dark-colors-red-900: #FFCBCEFF;
$dark-colors-red-950: #FFE2E3FF;
$dark-colors-yellow-25: #3A2918FF;
$dark-colors-yellow-50: #493116FF;
$dark-colors-yellow-100: #5D3B14FF;
$dark-colors-yellow-200: #82521AFF;
$dark-colors-yellow-300: #AE6B1DFF;
$dark-colors-yellow-400: #DB881CFF;
$dark-colors-yellow-500: #FE9F19FF;
$dark-colors-yellow-600: #FCAB30FF;
$dark-colors-yellow-700: #FABC57FF;
$dark-colors-yellow-800: #FACB73FF;
$dark-colors-yellow-900: #FCDD9FFF;
$dark-colors-yellow-950: #FFF0C6FF;
$dark-colors-blue-25: #172457FF;
$dark-colors-blue-50: #142A70FF;
$dark-colors-blue-100: #0F338CFF;
$dark-colors-blue-200: #073DA8FF;
$dark-colors-blue-300: #024ABFFF;
$dark-colors-blue-400: #0058DBFF;
$dark-colors-blue-500: #006EFFFF;
$dark-colors-blue-600: #1C82FFFF;
$dark-colors-blue-700: #4C9DFFFF;
$dark-colors-blue-800: #7DB5FFFF;
$dark-colors-blue-900: #A6CFFFFF;
$dark-colors-blue-950: #C9E2FFFF;
$dark-colors-green-25: #032628FF;
$dark-colors-green-50: #064846FF;
$dark-colors-green-100: #046550FF;
$dark-colors-green-200: #0C7A5AFF;
$dark-colors-green-300: #088864FF;
$dark-colors-green-400: #059772FF;
$dark-colors-green-500: #03AA75FF;
$dark-colors-green-600: #35B678FF;
$dark-colors-green-700: #53C182FF;
$dark-colors-green-800: #6CD297FF;
$dark-colors-green-900: #95E0AAFF;
$dark-colors-green-950: #BBF4CDFF;
$dark-colors-pink-25: #471725FF;
$dark-colors-pink-50: #5D1B2EFF;
$dark-colors-pink-100: #79203BFF;
$dark-colors-pink-200: #9A2548FF;
$dark-colors-pink-300: #BC2956FF;
$dark-colors-pink-400: #D92E61FF;
$dark-colors-pink-500: #F0376FFF;
$dark-colors-pink-600: #F74A7BFF;
$dark-colors-pink-700: #F7658AFF;
$dark-colors-pink-800: #F7839EFF;
$dark-colors-pink-900: #FFACC2FF;
$dark-colors-pink-950: #F9D1DAFF;
$dark-static-black: #000000FF;
$dark-static-white: #FFFFFFFF;
$dark-static-null: #FF00CDFF;
$dark-static-primary: $dark-colors-blue-600;
$dark-static-secondary: $dark-colors-blue-500;
$dark-fill-surface-primary: #161719FF;
$dark-fill-surface-secondary: #1D1E21FF;
$dark-fill-background-primary: #121315FF;
$dark-fill-background-secondary: #0A0B0CFF;
$dark-refine-accent: $dark-static-primary;
$dark-refine-primary: #E2E3E7FF;
$dark-refine-secondary: #AEB0B2FF;
$dark-refine-tertiary: #727376FF;
$dark-refine-quaternary: #585A5DFF;
$dark-refine-quinary: #3F4144FF;
$dark-refine-senary: #2A2C2FFF;
$dark-refine-septenary: #1E2024FF;
$dark-label-primary: $dark-colors-grey-900;
$dark-label-secondary: #E5E5E5BF;
$dark-label-tertiary: #E5E5E575;
$dark-label-quaternary: #E5E5E557;
$dark-label-quinary: #E5E5E538;
$dark-label-accent: $dark-static-primary;
$dark-fill-panel-primary: $dark-fill-surface-primary;
$dark-fill-panel-secondary: $dark-fill-surface-primary;
$dark-fill-segment: $dark-colors-grey-300;
$dark-line-accent: $dark-static-primary;
$dark-line-primary: #3B3D44FF;
$dark-line-secondary: #2F3036FF;
$dark-line-tertiary: #222428FF;
$dark-dimmed-primary: #000000BD;
$dark-dimmed-secondary: #0000008A;
$dark-dimmed-tertiary: #00000057;
$dark-interaction-surface: $dark-static-white;
$dark-status-positive: $dark-static-primary;
$dark-status-negative: $dark-colors-red-500;
$dark-interaction-disabled: #37383DB8;
$dark-status-caution: $dark-colors-yellow-500;
$dark-elevation-10: #00000029;
$dark-elevation-20: #0000002E;
$dark-elevation-30: #0000003D;
$dark-elevation-40: #00000047;
$dark-inverse-white: $dark-static-black;
$dark-inverse-black: $dark-static-white;
$dark-interaction-blue: #D8E3FFFF;

/* Radius */
$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-full: 999999px;
